<section id="desafio" class="container">
    <div class="row">
        <div class="col-12 col-sm-12">
            <h2>Consulta de usuarios de encomenda.Resultado Teste.</h2>
            <form method="POST" action="/" id=lista>                
                <button type="submit" class="btn btn-primary" id="btn-filtro">Listar</button>
            </form>
        </div>
    </div>
    <br>   
</section>
