<section id="intelly">
    <div class="container">
        <h1>Teste Intelly</h1>
        <p>A nossa necessidade e listar estas encomendas em uma tabela com as seguintes colunas (código, nome do cliente, valor, valor_final, e data de entrega.), sendo que o máximo de itens que por página será de 4 registros por página.</p>
        <p>Ao clicar no nome do cliente será possível visualizar todos os dados do registro.</p>
        <ol>
            <li>Valor_final=valor da encomenda de acrecido 4,3%.</li>
            <li>Gostaríamos que a solução seja desenvolvida utilizando uma JavaScript library, preferencialmente jQuery.</li>
            <li>É necessário a estilização da pagina.</li>
            <li>Será avaliado a qualidade e a organização do código (html, js, css)</li>
            <li>Qualquer acréscimo para auxiliar ou melhorar a experiência de usuário será bem-vinda.</li>
        </ol>
    </div>
</section>